:root{
  --corPrincipal:#02416d;
  --corTexto:#f8f8ec;
  --corFundo: #f8f8ec;
  --corFundoContraste: #f8f8df;
  --corCards: #02416d;
  --corSecundaria:#aedd2b;
  --corPrincipalClara: #066699;
}

*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--corFundo);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
